.alert {
    margin-bottom: 0;
 }
body {
    height: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}
form{
    width: 100%;
    margin-top: 3%;
}
pre{
    background-color: rgba(0, 0, 0, 0.08);
    border: 1px solid black;
    border-radius: 3px;
}